*{
    margin:0;
    padding: 0;
    border: none;
}
.container{
    width: 100%;
    height: 83vh;
}
body{
    color: whitesmoke;
    
}
header{
    background-color:#1ebea5;
}
.headerText{
    font-size: 30px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}
.logo{
    height: 35px;
    border-radius: 50%;
    margin: 5px 15px;
    width: 35px;
    border: 2px solid white;
    padding: 5px;
    display: inline-block;
}
.headerText{
    display: inline-block;
    position: absolute;
    top: 2%;
    left: 7%;
}
#loginForm{
    margin: 0 auto;
    top: 30%;
    position: absolute;
    left: 38%;
    width: 362px;
    border: 1px solid #1ebea5;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

h2{
    text-align: center;
    color: #1ebea5;
    padding: 15px;
}

form input{
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 30px;
}

#username{
    outline: none;
    border:1px solid #1ebea5;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.submitButton{
    color: #1ebea5;
    border-radius: 23px;
    font-size: 22px;
    height: 45px;
    outline: none;
    border: 1px solid #1ebea5;
    cursor: pointer;
    padding: 0px;
    width: 121px;
    background: white;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
}
.submitButton:hover{
    background-color: #1ebea5;
    color: white;
}
#chatRoom{
    display: none;
    width: 100%;
    height: 106%;
}

input[type=text]
{
  padding: 12px 20px;
   
  box-sizing: border-box;
} 

.onlineUsers{
    width: 20%;
    float: left;
    height: 100%;
}

.messageBox{
    display: inline-block;
    width: 80%;
    height: 100%;
}

.userList{
    border: 2px solid #1ebea5;
    border-radius: 16px;
    height: 96%;
    margin: 10px;
    text-align: center;
    color: #1ebea5;
    overflow: auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.userList h2{
    color: rgb(37, 35, 35);
}
.userList ul li{
    font-size: 25px;
     
}

ul li{
    padding: 8px;
    list-style-type: none;
}


::-webkit-scrollbar {
    width: 7px;
  }
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
    ::-webkit-scrollbar-thumb {
      background: #1ebea5;
      border-radius:10px;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      -ms-border-radius:10px;
      -o-border-radius:10px;
}
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }  

.messageArea{
    display: inline-block;
    width: 98%;
    height: 87%;
    background: white;
    border: 1px solid #1ebea5;
    border-radius: 30px;
    margin: 10px 0px 5px 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.messageInput{
    display: inline-block;
    width: 98%;
    margin: 0px 0px 5px 10px;
    background: white;
    border: none;
    border-radius: 34px;
    border-right: none;
    height: 8%;
}

.messageInput input{
    margin-left: 15px;
    border: none;
    border: 1px solid #1ebea5;
    width: 86.5%;
    outline: none;
    height: 100%;
    font-size: 22px;
    border-radius: 26px;
    background: transparent;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
}

#warningMessage{
    color: red;
    font-size: 12px;
    position: absolute;
    left: 83px;
    top: 100px;
     display: none;
}

#messageList{
    padding: 10px;
    max-width: inherit;
}
#messageList li{
    position: relative;
    margin: 5px;
    color: #555;
    display: block;
    padding: 5px 7px;
    width: max-content;
    border-radius: 30px;
    font-size: 19px;
    background: rgb(195 255 227);
}

#messageList div li:nth-child(2n){
    background-color: rgb(75 243 164);
}

#messageList li span{
  font-size: 13px;
  font-weight: bold;
  padding: 23px 5px 5px 5px;
  margin-left: 50px;
}